@import '../../Components//GlobalStyle//reponsive';

$color-primary: #FFCD00;
$paddingMainContent: 62px 68px 20px 68px;
$paddingMainContent-Mobile: 46px 22px 8px 22px;

.funlearning-wrapper {  

    .introduce {
        position: relative;
        
        .backdrop {
            max-height: 940px;
            width: 100%;
            padding-top: 54px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .download-app {
            background-color: #FFCD00;
            padding: 14px 24px;
            position: absolute;
            bottom: 28px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 12px;
            z-index: 2;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
        }

        @include mobile {
            .backdrop {
    
                img {
                    transform: scale(1.75);
                    padding-top: 45px;
                }
            }

            .download-app {
                width: 90%;
                bottom: -10px;

            }
        }

        @include tablet {
            .backdrop {
    
                img {
                    transform: scale(1.75);
                    padding-top: 45px;
                }
            }

            .download-app {
                width: 90%;
                bottom: -22px;

            }
        }
    }

    .main-content {
        position: relative;
        padding: $paddingMainContent;
        padding-bottom: 72px;
        background-color: #fff;

        .wave-border {
            position: absolute;
            top: -66px;
            left: 0;
            z-index: 1;
            width: 100%;

            @include mobile {
                top: -40px;
            }

            @include tablet {
                    top: -44px;
            }

        }

        .title {
            text-align: center;
            font-size: 24px;
            font-weight: 900;
        }

        .subjects-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .subject {
                min-width: 100px;
                min-height: 48px;
                background-color: #E9E3F1;
                margin: 38px 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                cursor: pointer;

                span {
                    text-align: center;
                    font-size: 14px;
                }
            }

            .active {
                background-color: #A061FA;
                color: #fff;
            }
        }

        .more {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 38px;
            margin-bottom: 18px;
            text-align: center;

            h1 {
                font-size: 26px;
                padding-bottom: 12px;

                span {
                    font-size: 32px;
                    font-weight: 700;
                    color: #A34CFF;
                }
            }
            
        }

        .hidden {
            display: none;
        }

        @include mobile {
            padding: $paddingMainContent-Mobile;
            padding-bottom: 90px;
            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 30px;
                    margin-top: 20px;
                    width: 78%;
                }
            }

            .subjects-list {
                .subject {
                    min-width: 80px;
                    margin: 12px 6px;

                    span {
                        font-size: 12px;
                    }
                }
            }

            .box_work-list {
                margin-top: 12px;
            }
        }

        @include tablet {
            padding: $paddingMainContent-Mobile;
            padding-bottom: 90px;

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 30px;
                    margin-top: 20px;
                    width: 78%;
                }
            }

            .subjects-list {
                .subject {
                    min-width: 80px;
                    margin: 12px 10px;

                    span {
                        font-size: 12px;
                    }
                }
            }

            .box_work-list {
                margin-top: 12px;
            }
        }
        
    }

    .banner {
        position: relative;
        color: #fff;
        padding-bottom: 44px;

        .wave-border{
            position: absolute;
            top: -63px;
            z-index: 1;
            width: 100%;

            @include mobile {
                top: -40px;
            }

            @include tablet {
                top: -44px;
            }
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .planet {
            position: absolute;
            width: 140px;
            height: auto;
            top: 40px;
            left: 120px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }
        }

        .grass {    
            position: absolute;
            max-height: 204px;
            height: 100%;
            bottom: -5px;
            top: 12p;
            right: 0;
            width: 100%;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .rocket {
            position: absolute;
            right: 0;
            bottom: 32%;

            max-width: 244px;
            transform: rotate(70deg);
            
            img {
                width: 100%;
            }

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }
        }

        .customeBanner {

            .control {
                display: none;
            }
           .content-left {
                .image-box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    img {
                        width: 320px;

                        @include mobile {
                            width: 280px;
                        }

                        @include tablet {
                            width: 280px;
                        }
                    }
                }
           } 

           @include mobile {
                .box {
                    flex-direction: column-reverse;
                }

                .content-right {
                    h1 {
                        text-align: center;
                        font-size: 28px;
                    }
    
                    p {
                        line-height: 30px;
                        text-align: center;
                    }
               }
           }
           

           .download-link {
                min-width: 150px;
                height: auto;
                margin-top: 12px;

                button {
                    background-color: $color-primary;
                    padding: 16px 34px;
                    color: #7E00FF;
                    font-weight: 700;
                    border-radius: 20px;
                }

                @include mobile {
                    position: absolute;
                    bottom: -46px;
                    width: 70%;
                    height: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                

                    button {
                        width: 100%;
                        height: 100%;
                        font-weight: 900;
                    }
                }
           }
        }
    }

    .sign-up {
        position: relative;
        padding: 120px 68px 120px 68px;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .wave-border {
            position: absolute;
            top: -70px;
            left: 0;
            z-index: 1;
            width: 100%;

        }

        .title {
            width: 40%;
            h1 {
                font-size: 46px;
                text-align: center;
            }
        }

        .sign-up-input {
            width: 40%;
            height: fit-content;
            margin-top: 66px;
            position: relative;
            margin-bottom: 40px;

            input {
                width: 100%;
                height: 80px;
                border-radius: 30px;
                padding: 6px 22px;
                font-size: 16px;
                background-color: #E6F0F1;
            }
            
            button {
                position: absolute;
                background-color: #F09318;
                width: 140px;
                height: 100%;
                right: 0;
                border-radius: 20px;
                font-size: 24px;
                font-weight: 600;
                color: #fff;
            }
        }

        .background {
            position: absolute;
            bottom: -78px;
            z-index: -1;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @include mobile {
            padding: $paddingMainContent-Mobile;
            
            .title {
                width: 100%;
                h1 {
                    font-size: 22px;
                    text-align: center;
                }
            }

            .sign-up-input {
                width: 100%;
    
            }
        }

        @include tablet {
            padding: $paddingMainContent-Mobile;
            
            .title {
                width: 100%;
                h1 {
                    font-size: 34px;
                    text-align: center;
                }
            }

            .sign-up-input {
                width: 80%;
    
            }
        }
    }
   
}
