@import '../../../Components//GlobalStyle/reponsive';

$color-primary: #FFCD00;

.BannerFishing {
    position: relative;
    max-height: 840px;
    width: 100vw;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include mobile {
        width: 100%;
        
        img {
            width: unset;
        }
    }

    @include tablet {
        width: 100%;
        
        img {
            width: unset;
        }
    }

    .BannerFishing-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;

        .control {
            display: none;
        }

        .content-right {
            p {
                text-align: start;
            }
        }

        .try-free-btn {
            min-width: 280px;
            min-height: 71px;
            background-color: #FFCD00;
            color: #7E00FF;
            border-radius: 20px;
            font-size: 24px;
            font-weight: 900;
        }

        @include mobile {
            width: 25%;
            top: 30%;

            .box {
                flex-direction: column;
            }
            
            .content-right {
                align-items: center;

                span {
                    text-align: center;
                }
            }
        }

        @include tablet {
            width: 45%;
            top: 30%;

            .content-right {
                align-items: flex-start;

                span {
                    text-align: center;
                }
            }
        }
    }
}